<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.mobifirst.meetings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".application.IQStoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.google.GoogleSignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestPermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background" />
        <activity
            android:name=".tokens.TokensActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addedittoken.AddEditTokenActivity"
            android:parentActivityName=".tokens.TokensActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tokens.TokensActivity" />
        </activity>
        <activity
            android:name=".ftu.SettingsFetcherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ftu.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.PrefsActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="da7a69f0dee3ffe21c69c8e4aff9bdff1db53059" />

        <receiver android:name=".sms.SmsReceiver" android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!--<service android:name=".display.TokenDisplayService"/>-->

        <service android:name=".display.PresentationService"
            android:exported="false"/>
    </application>

</manifest>